[window]
opacity = 0

[font]
normal.family = {{ .font.family | quote }}
size = {{ .font.size }}

{{- if regexMatch "^tokyonight-(moon|storm|night)$" .colorscheme }}
{{ template "tokyonight.alacritty.toml" . }}
{{- else if eq .colorscheme "dracula" }}
{{ template "dracula.alacritty.toml" }}
{{- end }}
