#!/bin/bash
{{ if not (isExecutable "pamac") }}
sudo pacman -Syu pamac-cli
{{ end }}

pamac install --no-confirm --as-explicit
{{- range .packages.linux.pamac.cli }} {{ . | quote }}{{ end }}
{{- if .hasGUI }}
{{- range .packages.linux.pamac.gui }} {{ . | quote }}{{ end }}
{{- end }}

sudo snap install
{{- range .packages.linux.snap.cli }} {{ . | quote }}{{ end }}
{{- if .hasGUI }}
{{- range .packages.linux.snap.gui }} {{ . | quote }}{{ end }}
{{- end }}

flatpak install
{{- range .packages.linux.flatpak.cli }} {{ . | quote }}{{ end }}
{{- if .hasGUI }}
{{- range .packages.linux.flatpak.gui }} {{ . | quote }}{{ end }}
{{- end }}
