#!/bin/bash

max="$(ls -1 ~/.config/Wallpaper | wc -l)"
current="$(cat ~/.config/bg 2>/dev/null || echo 0)"

next="$(((current + 1) % max))"

echo $next >"$HOME/.config/bg"

background="$(find ~/.config/Wallpaper/ -type f -name "$current.*")"

{{- if eq .GUI "xorg" }}
feh --no-fehbg --bg-fill $background
{{- else if eq .GUI "wayland" }}

{{- if lookPath "swww" }}
swww img -t wave --transition-duration 1 $background
{{- else }}
swaybg $background
{{- end }}

{{- end }}
