{{- with get . .colorscheme }}
* {
    bg:           {{ .bg }};
    bg-dark:      {{ .bg_dark }};
    selected-col: {{ .terminal_black }};
    blue:         {{ .blue }};
    fg:           {{ .fg }};
    fg2:          {{ .red }};
    width:        600;
}
{{- end }}
