[diff]
pager = "delta"

[data]
email = {{ promptStringOnce . "email" "Email address" | quote }}
name = {{ promptStringOnce . "name" "Defult name" | quote }}
shell = {{ promptStringOnce . "shell" "Default shell" | quote }}
editor = {{ promptStringOnce . "editor" "Editor" | quote }}
font.family = {{ promptStringOnce . "font.family" "Font family" | quote }}
font.size = {{ promptStringOnce . "font.size" "Font size" | quote }}
