# chezmoi:template:left-delimiter=<< right-delimiter=>>
[diff]
command = "batdiff"
pager = "delta"
args = ["{{ .Destination }}", "{{ .Target }}"]
[merge]
command = "nvim"
args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
[data]
email = << promptStringOnce . "email" "Email address" | quote >>
name = << promptStringOnce . "name" "Defult name" | quote >>
editor = "nvim"
hasGUI = << promptBoolOnce . "hasGUI" "Does this machine have a GUI" >>
<<- if .hasGUI >>
colorscheme = << promptStringOnce . "colorscheme" "Colorscheme for all programms" | quote >>
[data.font]
family = "JetBrainsMono Nerd Font"
size = << promptIntOnce . "font.size" "Font size" >>
<<- end >>
[data.separators]
<<- $data := . >>
<<- range $k, $v := (dict "component" (list "left" "right") "section" (list "left" "right")) >><< range $v >>
<< list $k . | join "." >> = << promptStringOnce $data (list "separators" $k . | join ".") (cat "Separator for" . $k) | quote >>
<<- end >><< end >>
