# autostarts
exec {
    $initialize_systemd
    {{- if lookPath "swww" }}
    $initialize_swww
    {{- end }}
    {{- if lookPath "foot" }}
    $initialize_foot_server
    {{- end }}
    $initialize_swayr_daemon
    {{- if lookPath "sworkstyle" }}
    $initialize_workspace_icons
    {{- end }}
    $initialize_poweralert_daemon
    $initialize_idlehack_daemon
    $initialize_idle_daemon
    {{- if lookPath "pcmanfm-qt" }}
    $initialize_mounting_daemon
    {{- end }}
    $initialize_way_displays
    $initialize_waybar
    $initialize_mako
    $initialize_wob

    $autostart_dex
    $autotiling
    $flashfocus
    $xdg-dirs

    $swappy_notify
    $cliphist_store
    $cliphist_watch
}

# commands that "reload" something
exec_always {
    $kanshi
    $enable_noisetorch
    $disable_nm_applet_autostart

    $clip-persist
    $nm_applet
    $watch_playerctl
    $calendar_daemon
    $auto_xdg_keyboard

    {{ if lookPath "swww" -}}
    $closeswaybg
    {{- end }}

    {{- if joinPath .chezmoi.homeDir ".config/bg" | stat | not }}
    $apply_wallpaper
    {{- end }}

    $reload_waybar
    $reload_mako
}
