{{- range $k, $v := .configurations }}
{{- if lookPath $k | not }}
{{- range $v }}
{{ . }}{{ end }}
{{- end }}{{ end }}

{{- if ne .GUI "xorg" }}
.xinitrc
.Xclients
.Xresources
.local/bin/change_language
{{- else if ne .GUI "wayland" }}
.config/profile.d/10-wayland.sh
{{- end }}
