#!/bin/sh
#
# ~/.profile
#
export XDG_CONFIG_HOME=$HOME/.config

# set default shell and terminal
export SHELL=/usr/bin/zsh
export TERMINAL_COMMAND=xdg-terminal-exec

export ZEIT_DB="$HOME/.config/zeit.db"
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

# Disable hardware cursors. This might fix issues with
# disappearing cursors
if systemd-detect-virt -q; then
  # if the system is running inside a virtual machine, disable hardware cursors
  export WLR_NO_HARDWARE_CURSORS=1
fi

set -a
. "$HOME/.config/user-dirs.dirs"
set +a

if [ -d "$HOME/.config/profile.d" ]; then
  for f in "$HOME"/.config/profile.d/*; do
    . "$f"
  done
fi
