!-- Xft settings --!
Xft.antialias: 0
Xft.hinting: 1
Xft.autohint: 0
Xft.hintstyle: hintslight
Xft.rgba: rgba
Xft.lcdfilter: lcddefault

st.font: {{ .font.family }}:size={{ .font.size }}

! window border inner
st.opacity: 15
st.borderpx: 10

{{ template .colorscheme set (set (get . .colorscheme) "template" "xresources") "separators" .separators }}
