-- Options are automatically loaded before lazy.nvim startup
-- Default options that are always set: https://github.com/LazyVim/LazyVim/blob/main/lua/lazyvim/config/options.lua
-- Add any additional options here
vim.g.mapleader = " "
vim.o.termguicolors = true
vim.g.trouble_lualine = false

vim.g.separators = {
  component = { left = {{ .separators.component.left | squote }}, right = {{ .separators.component.right | squote }} },
  section = { left = {{ .separators.section.left | squote }}, right = {{ .separators.section.right | squote }} },
}
