# vim:fileencoding=utf-8:foldmethod=marker
include themes/{{ .colorscheme }}.conf

font_size        {{ .font.size }}
font_family      {{ .font.family | quote }}
bold_font        auto
italic_font      auto
bold_italic_font auto
disable_ligatures always

cursor_shape block
cursor_shape_unfocused hollow
enable_audio_bell no
background_opacity 0.5
tab_bar_style powerline
