# vim:fileencoding=utf-8:foldmethod=marker
include themes/{{ .colorscheme }}.conf

font_size        {{ .font.size }}
font_family      {{ .font.family }} style=Regular
bold_font        {{ .font.family }} style=Bold
italic_font      {{ .font.family }} style=Italic
bold_italic_font {{ .font.family }} style=Bold Italic
disable_ligatures cursor
force_ltr no

cursor_shape block
cursor_shape_unfocused hollow
background_opacity 0
tab_bar_style powerline
