;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;==========================================================

[global/wm]
include-file = colors.ini
include-file = modules.ini

[bar/top]
background = ${colors.bg_statusline}
foreground = ${colors.fg_sidebar}
line-size = 3
fixed-center = true
wm-restack = bspwm
modules-left   = cava keyboard backlight alsa
modules-center = temperature memory cpu
modules-right  = bluetooth wlan battery time

font-0 = {{ .font.family }}:pixelsize=11;3
font-1 = {{ .font.family }}:pixelsize=15;3
