;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;
;      __  ___          __      __
;     /  |/  ____  ____/ __  __/ ___  _____
;    / /|_/ / __ \/ __  / / / / / _ \/ ___/
;   / /  / / /_/ / /_/ / /_/ / /  __(__  )
;  /_/  /_/\____/\__,_/\__,_/_/\___/____/
;
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
{{- define "key" }}{{ prepend . "format" | compact | join "-" }}{{ end }}
{{ $path := env "PATH" | splitList ":" }}
{{ if findExecutable "mpd" $path }}
[module/mpd]
type = internal/mpd
label-song = %title%
format-online = <label-song> %{T2}{{ .separators.component.left }}%{T-} <label-time>
{{- block "style" dict "separator" .separators.section.left "section" 0 "side" "l" "name" "online" }}
{{ template "key" list .name "background" }} = ${colors.{{ index (list "blue" "fg_gutter") .section }}}
{{ template "key" list .name "foreground" }} = ${colors.{{ index (list "black" "blue") .section }}}
{{ template "key" list .name "prefix" }} = {{ eq .side "l" | ternary "\" \"" (list "\"%{T2}" .separator (hasKey . "component" | ternary "%{T-} " "█%{T-}") "\"" | join "") }}
{{ template "key" list .name "suffix" }} = {{ ne .side "l" | ternary "\" \"" (list "\"" (hasKey . "component" | ternary " %{T2}" "%{T2}█") .separator "%{T-}\"" | join "") }}
{{- if hasKey . "component" | not }}
{{ template "key" list .name (eq .side "l" | ternary "suffix" "prefix") "foreground" }} = "${self.{{ template "key" list .name "background" }}}"
{{ template "key" list .name (eq .side "l" | ternary "suffix" "prefix") "background" }} = "${colors.{{ index (list "fg_gutter" "bg_dark") .section }}}"
{{- end }}
{{ end }}
{{ end }}
[module/keyboard]
type = internal/xkeyboard
format =   <label-layout><label-indicator>
blacklist-0 = caps lock
label-indicator-on-numlock = " 󰎠"
label-indicator-on-scrolllock = " "
{{- template "style" dict "separator" .separators.component.left "section" 1 "side" "l" "name" "" "component" true }}

[module/backlight]
type = internal/backlight
format = <ramp> <label>
{{- template "style" dict "separator" .separators.component.left "section" 1 "side" "l" "name" "" "component" true }}
{{- range $i, $e := splitList "" "󰛩󱩎󱩏󱩐󱩑󱩒󱩓󱩔󱩕󱩖󰛨" }}ramp-{{ println $i "=" $e }}{{ end }}

[module/alsa]
type = internal/alsa
format-volume = 󰝚 <label-volume> 
format-muted =  
{{- template "style" dict "separator" .separators.section.left "section" 1 "side" "l" "name" "volume" }}
{{- template "style" dict "separator" .separators.section.left "section" 1 "side" "l" "name" "muted" }}


{{- if and (findExecutable "python3" $path) (findExecutable "cava" $path) }}
[module/cava]
type = custom/script
exec = python3 ~/.config/polybar/scripts/info-cava.py -C"{{ regexMatch "^tokyonight-(moon|night|storm)$" .colorscheme | ternary (list ($colors := get .tokyonight (regexFind "(moon|night|storm)$" .colorscheme)).fg $colors.yellow $colors.orange $colors.red | join ",") "" -}}" -b64
tail = true
{{- end }}

{{- if output "ls" "/sys/class/power_supply/" }}
[module/battery]
type = internal/battery
format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>
format-full = <ramp-capacity> <label-full>
format-low = <animation-low> <label-low>
{{ range $i, $e := splitList "" "󰂎󰁺󰁻󰁼󰁽󰁾󰁿󰂀󰂁󰂂󰁹" }}ramp-capacity-{{ println $i "=" $e }}{{ end }}
{{- range $i, $e := splitList "" "󰢟󰢜󰂆󰂇󰂈󰢝󰂉󰢞󰂊󰂋󰂅" }}animation-charging-{{ println $i "=" $e }}{{ end }}
animation-charging-framerate = 300
animation-low-0 = 󱃍
animation-low-1 = 󱃌
animation-low-framerate = 500
{{- template "style" dict "separator" .separators.section.right "section" 1 "side" "r" "name" "charging" }}
{{- template "style" dict "separator" .separators.section.right "section" 1 "side" "r" "name" "discharging" }}
{{- template "style" dict "separator" .separators.section.right "section" 1 "side" "r" "name" "full" }}
{{- template "style" dict "separator" .separators.section.right "section" 1 "side" "r" "name" "low" }}
{{- end }}

{{- if output "/bin/ls" "-1" "/sys/class/net/" | splitList "\n" | has "wlo1" }}
[module/wlan]
type = internal/network
interface-type = wireless
format-connected = <ramp-signal> <label-connected>
ramp-signal-0 = 󰤯
ramp-signal-1 = 󰤟
ramp-signal-2 = 󰤢
ramp-signal-3 = 󰤥
ramp-signal-4 = 󰤨
label-connected = %essid%
label-disconnected = "󰤭 Disconnected"
{{- if output "ls" "/sys/class/power_supply/" }}
{{- template "style" dict "separator" .separators.component.right "section" 1 "side" "r" "name" "connected" "component" true }}
{{- template "style" dict "separator" .separators.component.right "section" 1 "side" "r" "name" "disconnected" "component" true }}
{{- else }}
{{- template "style" dict "separator" .separators.section.right "section" 1 "side" "r" "name" "connected" }}
{{- template "style" dict "separator" .separators.section.right "section" 1 "side" "r" "name" "disconnected" }}
{{- end }}
{{- end }}

[module/ethernet]
type = internal/network
interface-type = wired
format-connected = 󱘖 <label-connected>
{{- if output "/bin/ls" "/sys/class/power_supply/" | or (output "/bin/ls" "-1" "/sys/class/net/" | splitList "\n" | has "wlo1") }}
{{- template "style" dict "separator" .separators.component.right "section" 1 "side" "r" "name" "connected" "component" true }}
{{- else }}
{{- template "style" dict "separator" .separators.section.right "section" 1 "side" "r" "name" "connected" }}
{{- end }}

{{- if and (findExecutable "python3" $path) (findExecutable "bluetoothctl" $path) }}
[module/bluetooth]
type = custom/script
exec = python3 ~/.config/polybar/scripts/bluetooth.py -c"{name}"
interval = 3
{{- template "style" dict "separator" .separators.component.right "section" 1 "side" "r" "name" "" "component" true }}

[module/bluetooth-battery]
type = custom/script
exec = python3 ~/.config/polybar/scripts/bluetooth.py -c"{battery} {percentage}%"
interval = 3
{{- template "style" dict "separator" .separators.component.right "section" 1 "side" "r" "name" "" "component" true }}
{{- end }}

[module/time]
type = internal/date
time = %T
label = "%time%  "
{{- template "style" dict "separator" .separators.section.right "section" 0 "side" "r" "name" "" }}

[module/bspwm]
type = internal/bspwm
pin-workspaces = true
inline-mode = true
label-separator = %{T2}{{ .separators.component.right }}%{T-}
label-separator-padding = 1
label-focused = %name%
label-focused-underline = ${colors.black}
label-occupied = %name%
label-empty = %name%
label-urgent = %name%
{{- template "style" dict "separator" .separators.component.right "section" 0 "side" "r" "name" "" "component" true }}
