# shellcheck disable=SC2148,SC2086,SC2154,SC2046,SC2016
### Variables
set {
# Logo key. Use Mod1 for Alt and Mod4 for Super.
  $mod Mod4
  $alt_mod Mod1

# Direction keys
  $left Left
  $down Down
  $up Up
  $right Right

# Alternative direction keys
  $left_alt h
  $down_alt j
  $up_alt k
  $right_alt l

# Add --to-code to bindsym, support for non-latin layouts
  $bindsym bindsym --to-code

# For user's convenience, the same for unbindsym
  $unbindsym unbindsym --to-code

# Script paths
  $script_path "$HOME/.local/bin"
  $wob_socket '/run/user/{{ .chezmoi.uid }}/wob.sock'

# Terminal emulator
  $term alacritty
  $term_float $term --class floating_shell --option='window.dimensions = { columns = 80, lines = 25 }'

# Brightness control
  $brightness $script_path/brightness
  $brightness_up $brightness up > $wob_socket
  $brightness_down $brightness down > $wob_socket

# Scaling
  $scale_up $script_path/scale up
  $scale_down $script_path/scale down
  $scale_default $script_path/scale default

# Audio control
  $sink_volume pactl get-sink-volume @DEFAULT_SINK@ | grep '^Volume:' | cut -d / -f 2 | tr -d ' ' | sed 's/%//'
  $source_volume pactl get-source-volume @DEFAULT_SOURCE@ | grep '^Volume:' | cut -d / -f 2 | tr -d ' ' | sed 's/%//'
  $volume_down echo $(pactl set-sink-volume @DEFAULT_SINK@ -5% && $sink_volume) > $wob_socket
  $volume_up echo $(pactl set-sink-volume @DEFAULT_SINK@ +5% && $sink_volume) > $wob_socket
  $volume_mute echo $(pactl set-sink-mute @DEFAULT_SINK@ toggle && pactl get-sink-mute @DEFAULT_SINK@ | sed -En "/no/ s/.*/$($sink_volume)/p; /yes/ s/.*/0/p") > $wob_socket
  $mic_mute echo $(pactl set-source-mute @DEFAULT_SOURCE@ toggle && pactl get-source-mute @DEFAULT_SOURCE@ | sed -En "/no/ s/.*/$($source_volume)/p; /yes/ s/.*/0/p") > $wob_socket

# Clipboard history
  $clipboard cliphist list | rofi -dmenu -p "Select item to copy" -lines 10 | cliphist decode | wl-copy
  $clipboard-del cliphist list | rofi -dmenu -p "Select item to delete" -lines 10 | cliphist delete

# Zeit tracking
  $zeit_list zeit list --only-projects-and-tasks --append-project-id-to-task | rofi -dmenu -p "Select task to track" -lines 10 | $script_path/zeit track && ~/.local/bin/waybar-signal zeit

# Application launcher
  $menu rofi -show drun

# Lockscreen configuration
  $locking swaylock --daemonize --color "$selection-color" --inside-color "$selection-color" --inside-clear-color "$text-color" --ring-color "$color2" --ring-clear-color "$color11" --ring-ver-color "$color13" --show-failed-attempts --fade-in 0.2 --grace 2 --effect-vignette 0.5:0.5 --effect-blur 7x5 --screenshots --clock

# Network menu
  $network "$script_path/once $term_float --command nmtui connect"

# Bluetooth menu
  $bluetooth "$script_path/once $term_float --command bluetuith"

# Pulseaudio command
  $pulseaudio "$script_path/once $term_float --command pulsemixer"

# Calendar application
  $calendar $script_path/once $term_float --command calcurse

# Workspace names
  $ws1 number 1
  $ws2 number 2
  $ws3 number 3
  $ws4 number 4
  $ws5 number 5
  $ws6 number 6
  $ws7 number 7
  $ws8 number 8
  $ws9 number 9
  $ws10 number 10

# Screenshot commands
  $grimshot grimshot
  $pipe_output $grimshot save output -
  $pipe_selection $grimshot save area -
  $notify_paste [[ $(wl-paste -l) == "image/png" ]] && notify-send "Screenshot copied to clipboard"
  $swappy swappy -f -
  $upload_pipe curl -s -F "file=@-;filename=.png" https://x0.at/ | tee >(wl-copy) >(xargs notify-send)

  $screenshot_screen $pipe_output | $swappy && $notify_paste
  $screenshot_screen_upload $pipe_output | $upload_pipe

  $screenshot_selection $pipe_selection | $swappy && $notify_paste
  $screenshot_selection_upload $pipe_selection | $upload_pipe

# Emoji picker
  $emoji_picker emoji-picker
}
