#!/bin/zsh

{{- if lookPath "thefuck" }}
eval "$(thefuck --alias)"
{{- end }}
{{- if lookPath "zoxide" }}
eval "$(zoxide init zsh)"
{{- end }}
{{- if lookPath "zeit" }}
eval "$(zeit completion zsh)"
{{- end }}
