/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @warning_color;
  }
}

@keyframes blink-critical {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @error_color;
  }
}

@keyframes blink-record {
  from {
  }

  to {
    color: @error_color;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* The whole bar */
window#waybar {
  font-family: "JetBrainsMono NF", "Roboto Mono", sans-serif;
  font-size: 11px;
  background-color: transparent;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

.module {
  color: @theme_fg_color;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  margin-right: 3px;
  margin-left: 3px;
}

#custom-clipboard,
#custom-valent,
#custom-sunset,
#custom-adaptive-light,
#custom-dnd,
#custom-weather,
#network,
#battery,
#language,
#bluetooth,
#backlight,
#pulseaudio,
#tray {
  color: @theme_fg_color;
  background-color: transparent;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical {
  color: @error_color;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#battery.warning,
#bluetooth.disabled,
#custom-valent.dangerously-empty,
#network.disconnected,
#pulseaudio.muted {
  color: @warning_color;
}

#workspaces button.focused {
  background-color: @theme_selected_bg_color;
}

#workspaces button {
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 15px;
  color: @theme_fg_color;
}

#workspaces button.urgent {
  border-color: @error_color;
  color: @error_color;
}

button:hover {
  color: @theme_fg_color;
}

#workspaces {
  border-radius: 15px;
  padding-left: 0;
  padding-right: 0;
}

#custom-wf-recorder {
  animation-name: blink-record;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
