;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;     ______      __
;    / ________  / ____  __________
;   / /   / __ \/ / __ \/ ___/ ___/
;  / /___/ /_/ / / /_/ / /  (__  )
;  \____/\____/_/\____/_/  /____/
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
{{- block "colors" dict "colors" (get . .colorscheme) "name" "colors" }}
{{- $name := .name }}
[{{ $name }}]
{{- range $k, $v := .colors }}
{{- if kindIs "string" $v }}
{{- if ne $k "none" }}
{{ print $k " = " $v }}
{{- else }}
{{ "none = #00000000" }}
{{- end }}
{{- else if kindIs "slice" $v }}
{{- range $i, $e := $v }}
{{ printf "%s-%d = %s" $k $i $e }}
{{- end }}
{{- else if kindIs "map" $v }}
{{- template "colors" dict "colors" $v "name" (list $name "/" $k | join "") }}
[{{ $name }}]
{{- end }}
{{- end }}
{{- end }}
