-- chezmoi:template:left-delimiter=<< right-delimiter=>>
require("yatline"):setup({
  theme = {
    section_separator = { open = << .separators.section.right | squote >>, close = << .separators.section.left | squote >> },
    part_separator = { open = << .separators.component.right | squote >>, close = << .separators.component.left | squote >> },
    inverse_separator = { open = "", close = "" },
  },
  status_line = {
    left = {
      section_a = {{ type = "string", custom = false, name = "tab_mode" }},
      section_b = {{ type = "coloreds", custom = false, name = "count" }},
      section_c = {},
    },
    right = {
      section_a = {{ type = "string", custom = false, name = "cursor_position" }},
      section_b = {
        { type = "string", custom = false, name = "hovered_size" },
        { type = "coloreds", custom = false, name = "permissions" },
      },
      section_c = {},
    },
  },
})
require("yatline-githead"):setup({
  show_branch = true,
  branch_prefix = "",
  prefix_color = "",
  branch_color = "blue",
  branch_symbol = "",
  branch_borders = "",

  commit_color = "blue",
  commit_symbol = "@",

  show_stashes = true,
  stashes_color = "magenta",
  stashes_symbol = "$",

  show_state = true,
  show_state_prefix = true,
  state_color = "red",
  state_symbol = "~",

  show_staged = true,
  staged_color = "green",
  staged_symbol = "+",

  show_unstaged = true,
  unstaged_color = "yellow",
  unstaged_symbol = "!",

  show_untracked = true,
  untracked_color = "red",
  untracked_symbol = "?",
})
