import = ["~/.config/alacritty/themes/tokyonight_moon.toml"]
shell = {{ .shell | quote }}
[env]
TERM_PROGRAM = "alacritty"
[window]
# "Full" | "None"
decorations = "None"
# "Windowed" | "Maximized" | "Fullscreen"
startup_mode = "Maximized"
decorations_theme_variant = "Dark"

[font]
normal.family = {{ .font.family | quote }}
size = {{ .font.size }}
