import = ["~/.config/alacritty/themes/tokyonight_moon.toml"]
[window]
# "Full" | "None"
decorations = "None"
# "Windowed" | "Maximized" | "Fullscreen"
startup_mode = "Maximized"
decorations_theme_variant = "Dark"

[font]
normal.family = {{ .font.family | quote }}
size = {{ .font.size }}
