configuration{
  modi: "drun,run";
  show-icons: true;
  drun-display-format: "{icon} {name}";
  display-drun: "   Apps ";
  display-run: "   Run ";
}

@theme "colorscheme"

element-text, element-icon , mode-switcher {
  background-color: inherit;
  text-color:       inherit;
}

mainbox {
  background-color: @bg;
}

inputbar {
  children: [prompt,entry];
  background-color: @bg;
  border-radius: 5px;
  padding: 3px;
}

prompt {
  background-color: @accent;
  padding: 5px;
  text-color: @bg;
  border-radius: 5px;
  margin: 5px 0px 0px 5px;
}

entry {
  padding: 5px;
  margin: 5px 0px 0px 5px;
  text-color: @fg;
  background-color: @bg-dark;
  border-radius: 5px;
  placeholder:"Search";
}

listview {
    background-color: @bg-dark;
}

element {
  padding: 5px;
  border-radius: 5px;
  background-color: @bg;
  text-color: @fg;
}

element selected {
  background-color:  @selected-col;
  text-color: @fg2;
}
