[Unit]
Description=Wayland background daemon
Documentation=https://github.com/LGFae/swww
PartOf=wayland-session.target
After=wayland-session.target

[Service]
ExecStart=swww-daemon
Restart=on-failure

[Install]
WantedBy=sway-session.target
