# See man 5 mako

font={{ .font.family }} 9
width=400
height=200
padding=20
margin=20
border-size=3
border-radius=10
default-timeout=1500

{{ includeTemplate .colorscheme (set (set (get . .colorscheme) "template" "mako") "separators" .separators) }}
[mode=do-not-disturb]
invisible=1
